*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
}
body{
    margin: 1rem;
}
fieldset {
    width: 100%;
    margin: 1rem 0;
    border-color: #d3d3d3;
    border-style: double;
}

main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
main>aside {
    width: 34%;
}
main>section{
    width: 65%;
}

legend, h3, h2, h1, h4{

    color: #00008b;
    font-weight: 700;
    display: flex;
    align-items: center;
}
h2{
    margin-top: 20px;
}
legend{
    padding: 0 .5rem;
}

.blocchamps{
    margin-bottom: 5px;
}
.blocchamps label {
    width: 60%;
    display: inline-block;
    border-bottom: 1px dashed gray;
}

.blocchamps input,  .blocchamps select{
    width: 39%;
}

.plus {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.moins {
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column
}
#aide{
    width: 85% ;
}
#icons{
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#icons img{
    width: 30%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

#icons.home{
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

#icons.home img{
    width: 10%;
}

.footer{
    display: flex;
}
.import{
    display: flex;
}
.import .blocchamps{
    width: calc(100% - 60px);
}
#import{
    width: 50px;
}
footer.enfants{
    display: flex;
    justify-content: space-around;
}