*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
}
body{
    margin: 1rem;
}
fieldset {
    width: 100%;
    margin: 1rem 0;
    border-color: #d3d3d3;
    border-style: double;
}

main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
main>aside {
    width: 34%;
}
main>section{
    width: 65%;
}

legend{
    padding: 0 .5rem;
    color: #00008b;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.champs{
    margin-bottom: 5px;
}
.champs label {
    width: 40%;
    display: inline-block;
    border-bottom: 1px dashed gray;
}

.champs input {
    width: 60%;
}

.plus {
    border: 1px solid darkblue;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}